#custom-titlebar {
    min-height: 32px;
    padding: 0 0 0 15px;
}

#custom-titlebar.dark-titlebar {
    background: #161717;
    color: white;
}

#custom-titlebar.light-titlebar {
    background: white;
    color: black;
}

#custom-titlebar button {
    background: transparent;
    border: none;
    font-size: 14px;
    padding: 4px 10px;
}

#custom-titlebar.dark-titlebar button {
    color: #ccc;
}

#custom-titlebar.light-titlebar button {
    color: #333;
}

#custom-titlebar .title-minimize {
    padding-bottom: 8px;
}

#custom-titlebar .title-maximize {
    padding-top: 8px;
}

#custom-titlebar.dark-titlebar button:hover {
    background: #2b2d31;
    color: white;
}

#custom-titlebar.dark-titlebar button:active {
    background: #3a3c40;
}

#custom-titlebar.light-titlebar button:hover {
    background: #e6e6e6;
    color: black;
}

#custom-titlebar.light-titlebar button:active {
    background: #cccccc;
}

.show-titlebar {
    opacity: 0.15;
    transition: opacity 400ms;
    margin: 8px;
    background: transparent;
    border: none;
    font-size: 14px;
    padding: 4px 10px;
}

.show-titlebar.dark-titlebar {
    color: #ccc;
}

.show-titlebar.light-titlebar {
    color: #333;
}

.show-titlebar.dark-titlebar:hover {
    background: #2b2d31;
    color: white;
    opacity: 1.0;
}

.show-titlebar.dark-titlebar:active {
    background: #3a3c40;
}

.show-titlebar.light-titlebar:hover {
    background: #e6e6e6;
    color: black;
    opacity: 1.0;
}

.show-titlebar.light-titlebar:active {
    background: #cccccc;
}

.opacity {
    opacity: 1.0;
    transition: opacity 400ms;
}